---
import About from "./about/About.astro";
import Home from "./home/Home.astro";
import ProjectsList from "./projects/ProjectList.astro";
import Skills from "./skills/Skills.astro";


---

<main>
  <div class="container_p">
    <Home />
    <ProjectsList />
    <Skills />
    <About />
  </div>
</main>

