---
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import "../style/index.css";
import { ViewTransitions } from "astro:transitions";

const { title = 'Portafolio | Miguel Angel Lupani'} = Astro.props;

export const prerender = true;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Miguel Angel Lupani desarrollador web fullstack"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mlupani.vercel.app/" />
    <meta property="og:site_name" content="Miguel Angel Lupani" />
    <meta property="og:title" content="Miguel Angel Lupani Portafolio" />
    <meta
      property="og:image"
      content="https://mlupani.vercel.app/img/preview-page.jpg"
    />
    <title>{title}</title>
  </head>
  <body>
    <ViewTransitions />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  document.addEventListener("astro:page-load", () => {
    const letters = document.querySelectorAll(".p-profession") as NodeListOf<HTMLElement>;
    letters.forEach((letter) => {
      letter.addEventListener("mouseenter", () => {
        letter.classList.add("bouncing");
      });
      letter.addEventListener("animationend", () => {
        letter.classList.remove("bouncing");
      });
    });
  })
</script>